html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum=1")
    title Three.js
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
    script(src="/public/script/three.min.js")
    script(src="/public/script/stats.min.js")
    script(src="/public/script/Tween.min.js")
  body(style="display: flex;flex-direction: column;align-items: center;")
    h1(style="text-align:center")
      a(href="/") 主页
    script(src="/public/script/stats.js")
